.radio {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  align-items: center;
  justify-self: center;
}

.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkround {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border-color: #F1A661;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

.radio input:checked~.checkround {
  background-color: #fff;
}

.checkround:after {
  content: "";
  position: absolute;
  display: none;
}

.radio input:checked~.checkround:after {
  display: block;
}

.radio .checkround:after {
  left: 2px;
  top: 2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #E38B29;


}