<nav class="navbar navbar-expand-lg navbar-light py-2">
  <div class="container-fluid">
    <div class="d-flex flex-row-reverse px-4 w-100 align-items-center">
      <div
        class="collapse navbar-collapse d-flex flex-row-reverse d-none d-lg-block"
      >
        <div class="p-2 bd-highlight align-items-center d-flex flex-row">
          <span class="material-icons text-white">account_circle</span>
          <h6 class="mx-2 my-0 text-white">Lorem Co Ltd.</h6>
        </div>
        <div class="p-2 bd-highlight flex-row">
          <h6 class="m-0 text-white">
            Time in Thailand: 15:57 (GMT+7) | 1st October 2021
          </h6>
        </div>
      </div>
      <div class="navbar-toggler d-block d-lg-none border border-white">
        <span class="material-icons text-white p-1" style="height: 29.5px"
          >account_circle</span
        >
      </div>
    </div>
  </div>
</nav>
