<div class="border-bottom">
  <h5 clase="fw-bold">1. Text Flling Detail</h5>
</div>
<div class="my-4">
  <h6 class="fw-normal">Type of filing<span class="text-danger">*</span></h6>
  <div class="d-flex">
    <app-radio-btn
      [options]="options"
      [selectedOption]="selectedOption"
      (valueSelected)="onSelectTypeFiling($event)"
    ></app-radio-btn>
  </div>
  <div class="row my-4">
    <div class="col-12 col-lg-6">
      <h6 class="fw-normal">VAT Month<span class="text-danger">*</span></h6>
      <div class="d-flex flex-column flex-md-row">
        <div class="me-2 mb-2 my-md-0">
          <app-dropdown-list
            [options]="month"
            [defaultOption]="'Select Month'"
            (valueSelected)="onSelectMonth($event)"
          ></app-dropdown-list>
        </div>
        <div class="me-2">
          <app-dropdown-list
            [options]="year"
            [defaultOption]="'Select Year'"
            (valueSelected)="onSelectYear($event)"
          ></app-dropdown-list>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 my-2 my-lg-0" *ngIf="selectedOption === '1'">
      <h6 class="fw-normal">Type<span class="text-danger">*</span></h6>
      <div class="d-flex flex-column flex-md-row">
        <div class="me-2">
          <app-dropdown-list
            [defaultOption]="'Select Type'"
          ></app-dropdown-list>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="border-bottom mt-4 py-2 py-sm-0">
  <div class="d-flex flex-wrap justify-content-between align-items-center">
    <h5 clase="fw-bold ">2. Tax Computation</h5>
    <span class="subtext">View Exchange Rate</span>
  </div>
</div>
<div class="my-4">
  <h6 class="toppic">
    Provide total value taxable electronic service<span class="text-danger"
      >*</span
    >
  </h6>
  <div class="row my-2">
    <div class="col-12 col-lg-8 d-flex align-items-center">
      <div class="chioce">
        1. Total value of taxable electronic service exclusive of VAT
      </div>
    </div>
    <div class="col-12 col-lg-4 text-container">
      <input
        id="saleAmount"
        name="saleAmount"
        type="text"
        class="form-control text-end"
        onkeyup="if(value<0 || isNaN(parseInt(value)) === true || isNaN(Number(value))==true) value='';"
        [(ngModel)]="valueInput.saleAmount"
        (blur)="handleOnBlur($event)"
        (focus)="handleOnFocus($event)"
      />
      <span class="span-text">THB</span>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-12 col-lg-8 d-flex align-items-center">
      <div class="chioce">2. Total VAT to be remitted (7% of 1.)</div>
    </div>
    <div class="col-12 col-lg-4 flex-column text-container">
      <div class="d-flex">
        <input
          id="taxAmount"
          name="taxAmount"
          type="text"
          class="form-control text-end"
          onkeyup="if(value<0 || isNaN(parseInt(value)) === true || isNaN(Number(value))==true) value='';"
          [(ngModel)]="valueInput.taxAmount"
          (blur)="handleOnBlur($event)"
          (focus)="handleOnFocus($event)"
        />
        <span class="span-text">THB</span>
      </div>
      <span class="text-danger my-1" style="font-size: 12px">{{
        textAlert
          ? "Do not enter amounts below or above 20 of the VAT charge."
          : ""
      }}</span>
    </div>
  </div>
</div>

<div *ngIf="selectedOption === '1'" class="my-4">
  <h6 class="toppic">In case of late filing and payment, additional filing</h6>
  <div class="row my-2">
    <div class="col-12 col-lg-8 d-flex align-items-center">
      <div class="chioce">3. Surcharge</div>
    </div>
    <div class="col-12 col-lg-4 text-container">
      <input
        id="surcharge"
        name="surcharge"
        type="text"
        class="form-control text-end text-secondary"
        [(ngModel)]="valueInput.surcharge"
        disabled
      />
      <span class="span-text">THB</span>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-12 col-lg-8 d-flex align-items-center">
      <div class="chioce">4. Penalty</div>
    </div>
    <div class="col-12 col-lg-4 text-container">
      <input
        id="penalty"
        mame="penalty"
        type="text"
        class="form-control text-end text-secondary"
        [(ngModel)]="valueInput.penalty"
        disabled
      />
      <span class="span-text">THB</span>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-12 col-lg-8 d-flex align-items-center">
      <div class="chioce">
        5. Total amount of VAT, surcharge and penalty to be remitted (2.+3.+4.)
      </div>
    </div>
    <div class="col-12 col-lg-4 text-container">
      <input
        id="totalAmount"
        mame="totalAmount"
        type="text"
        class="form-control text-end text-secondary"
        [(ngModel)]="valueInput.totalAmount"
        disabled
      />
      <span class="span-text">THB</span>
    </div>
  </div>
</div>
