<div class="container py-5 p-md-5">
  <div class="d-flex justify-content-center">
    <h1 class="text-center text-header">SUBMIT TAX FILING</h1>
  </div>
  <div class="my-2 p-2 px-md-5 d-flex justify-content-center flex-column">
    <app-stepper
      [currentStep]="currentStep"
      [nameStep]="nameStep"
    ></app-stepper>
    <div class="step-content">
      <div class="container box rounded p-4 py-md-4 px-md-5">
        <div class="step" *ngIf="currentStep === 1">
          <app-input-detail
            [options]="optionsFiling"
            [month]="month"
            [year]="year"
            (taxData)="setTaxData($event)"
          ></app-input-detail>
        </div>
        <div class="step" *ngIf="currentStep === 2">
          <app-review-confirm
            [options]="optionsFiling"
            [month]="month"
            [year]="year"
            [taxData]="taxData"
          ></app-review-confirm>
        </div>
      </div>
    </div>
    <div
      class="my-4 d-flex flex-row"
      [ngClass]="currentStep === 2 ? 'justify-content-center' : ''"
    >
      <button
        *ngIf="currentStep !== 2"
        class="btn btn-next"
        (click)="onPreviousClick()"
      >
        Back
      </button>
      <button
        *ngIf="currentStep !== 2"
        class="btn btn-next mx-2"
        (click)="onNextClick()"
      >
        Next
      </button>
      <div *ngIf="currentStep !== 1" class="align-items-center">
        <button class="btn btn-next" (click)="onPreviousClick()">
          Connfirm & Submit
        </button>
      </div>
    </div>
  </div>
</div>
