/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;600;700&display=swap');
@import "~bootstrap/dist/css/bootstrap.min.css";

html,
body {
    height: 100%;
    font-size: 16px;
    font-family: "Prompt", sans-serif !important;
}

body {
    margin: 0;
    font-family: "Prompt", "Helvetica Neue", sans-serif;
}


html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}